/* add home page styles here */
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');


body {
    font-family: 'Walter Turncoat', cursive;
    /*font-family: 'Gaegu', cursive;*/
}

.hidden {
    display: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #222;
    font-size: 1.6rem;
    margin: 10px;
    display: block;
    text-decoration: none;
}

#map-div {
    background-image: url(../assets/OHOL.jpg);
    width: 800px;
    height: 570px;
    background-position: center top;
    background-size: cover;
    position: relative;
}

#map-div a {
    background-color: #FFF;
    position: absolute;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #666;
    font-size: 1.1rem;
}

#quest-div {
    text-align: center;
}

#quest-div img {
    width: 800px;
    margin: 40px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
    text-indent: 40px;
}

#quest-div label {
    font-size: 1.6rem;
}

#quest-div button {
    width: auto;
    margin: 40px;
}

#quest-div input {
    visibility: hidden;
}

#quest-div input:checked ~ div {
    text-decoration: underline;
}

header {
    width: 100%;
}

.arctic-link {
    top: 70px;
    right: 130px;
}

.language-link {
    top: 330px;
    right: 0px;
}

.jungle-link {
    bottom: 100px;
    left: 30px;
}

.desert-link {
    bottom: 0px;
    right: 65px;
}

.apocalypse-link {
    left: 253px;
    top: 170px;
    color: #c83232;
}