/* add home page styles here */
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');


body {
    font-family: 'Walter Turncoat', cursive;
    background: #111;
    color: #eee;
    text-align: center;
}

main {
    width: 900px;
    margin-top: 120px;
}

section {
    width: 100%;
}

header {
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1;
    font-size: 1.2rem;
    background-color: #111;
    box-shadow: 0px 0px 20px 21px #111;
}

#header-wrap {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hidden {
    display: none;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2.8rem;
    text-align: center;
    margin: 40px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #222;
    font-size: 1.6rem;
    margin: 10px;
    display: block;
    text-decoration: none;
}

#map-div {
    background-image: url(../assets/map.jpg);
    width: 800px;
    height: 570px;
    background-position: center top;
    background-size: cover;
    position: relative;
}

#map-div a, .completed {
    background-color: #FFF;
    position: absolute;
    padding: 3px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #666;
    font-size: 1.1rem;
}

.completed {
    color: #999;
    text-decoration: line-through;
}

#quest-div {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

#quest-div img {
    width: 800px;
    margin: 40px 0;
}

.quest-image {
    height: 340px;
    background-position: center top;
    background-size: cover;
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
    text-indent: 40px;
}

#quest-div label {
    font-size: 1.6rem;
}

#quest-div button {
    width: auto;
    margin: 40px;
}

#quest-div input {
    visibility: hidden;
}

#quest-div input:checked ~ div {
    text-decoration: underline;
}

header {
    width: 100%;
}

.arctic-link {
    top: 70px;
    right: 130px;
}

.arctic-completed {
    top: 80px;
    right: 140px;
}

.language-link {
    top: 330px;
    right: 0px;
}

.language-completed {
    top: 340px;
    right: 10px;
}

.jungle-link {
    bottom: 100px;
    left: 30px;
}

.jungle-completed {
    bottom: 110px;
    left: 40px;
}

.desert-link {
    bottom: 0px;
    right: 65px;
}

.desert-completed {
    bottom: 10px;
    right: 75px;
}

.apocalypse-link, .apocalypse-completed {
    left: 253px;
    top: 170px;
    color: #c83232;
    font-weight: bold;
}

.home-link {
    left: 370px;
    top: 358px;
}

.home-completed {
    left: 380px;
    top: 368px;
}

#results-div img {
    margin: 0 auto;
    display: block;
}

#results-div {
    font-size: 2rem;
    line-height: 2;
}

#results-div button {
    padding: 5px 20px;
    background: 0;
    border: 2px solid white;
    color: white;
    font-size: 2.4rem;
    font-family: 'Walter Turncoat', cursive;
    margin-top: 30px;
}

section {
    margin: 0;
    padding: 0;
}